nav{
    display: flex;
    justify-content: space-around;
    
}
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
/* picture center  */
.overview{
    align-content: center;
    
}
/* 1st part button style */
.b-style{
    background-color: black;
    color: aliceblue;
}
.second-part{
   justify-content: center;
}
